.bundle/
.rvmrc
.DS_Store
log/*.log
pkg/
tmp/**/*

doc/*

spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/

# It's important that when developing, you start from a fresh install
spec/dummy/app/views/blogit/
spec/dummy/config/initializers/blogit.rb
spec/dummy/db/migrate/*blogit*
spec/dummy/db/migrate/*acts_as_taggable_on_engine*
spec/dummy/db/schema.rb
spec/dummy/*.sqlite3