<div class="blogit_comments_list">
  <h3 class="blogit_comments_list__header blogit_header--section"><%= t(:comments, scope: 'blogit.posts') %></h3>
  <%= render post.comments %>
</div>
<%= render partial: "blogit/comments/form", locals: { post: post, comment: comment } %>
