  <div id="blog_related_posts">
  <h3 class="blog_related_posts-header">
    <%= t :related_posts, :scope => "blogit.posts" %>
  </h3>
  <ul class="blog_related_posts-list">
    <% post.find_related_on_tags.each do |other_post| %>
      <li class="blog_related_posts-li">
        <%= link_to other_post.title, post_path(other_post) %>
      </li>
    <% end %>
  </ul>
</div>