<div id="blogit_related_posts">
  <h3 class="blogit_related_posts__header blogit_header--section">
    <%= t :related_posts, :scope => "blogit.posts" %>
  </h3>
  <div class="blogit_related_posts__list">
    <%= render partial: "blogit/posts/related_post", 
      collection: related_posts_for_post(post), as: :related_post %>
  </div>
</div>