<div id="blogit_tags">
  <h3 class="blogit_tags__header blogit_header--section">
    <%= t :tags, :scope => "blogit.posts" %>
  </h3>
  <ul class="blogit_tags__list">
    <%= render partial: "blogit/tags/tag", collection: post.tag_list %>
  </ul>
</div>
