/* =================================== */
/* = Some CSS for the dummy app only = */
/* =================================== */

/* *= require_tree . */
body{
  font-size: 15px;
  line-height: 1.5em;
  font-family: verdana, sans-serif;
}
#content, footer{
  width: 800px;
  margin: 0 auto;
}
footer#application_footer{
  text-align:center;
}

